@page "/"

<div class="container">
    <div>
        <img src="./images/decamed-supplies-logo.png" class="img-fluid border-0" alt="Responsive image">
        <h3 class="text-center text-secondary">~A Better Way to Manage Medical Supplies~</h3>
    </div>
</div>