@page "/"

<h1>Hi Norleen!</h1>

Welcome to your new app.

<div class="card">
  <div class="card-header">
    Notice
  </div>
  <div class="card-body">
    <h5 class="card-title">Work in progress</h5>
    <p class="card-text">This is just a template application. More changes will be added in time.</p>
    <p class="card-text">In the meantime, if you have more information on what you would like in the website please let me know :)</p>
  </div>
</div>