@page "/"

<h1>Decamed Records</h1>

<div class="card">
  <div class="card-header">
    Afya Bora Maisha Bora!
  </div>
  <div class="card-body">
    <h5 class="card-title">Work in progress</h5>
    <p class="card-text">This is just a template application. More changes will be added in time.</p>
  </div>
</div>