@page "/updateproduct"
@using InventoryProject.ViewModels

@inject HttpClient Http

<h3>Update Product</h3>

<p>
    Functionality to update a product will be added here.
</p>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        var product = new ProductViewModel { ProductId = 5, ProductName = "Medicine", QuantityInStock = 10, BuyingPrice = 200};
        //await Http.GetFromJsonAsync<Products[]>("sample-data/products.json");
        var response = await Http.PostAsJsonAsync<ProductViewModel>("sample-data/products.json", product);

        var item = await response.Content.ReadFromJsonAsync<ProductViewModel>();
        currentCount++;
    }
}
