@page "/viewproducts"
@inject HttpClient Http

<h3>Products</h3>

<p>This component demonstrates fetching data from the server.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity In Stock</th>
                <th>Buying Price (per item)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.QuantityInStock</td>
                    <td>@product.BuyingPrice</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private Products[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Products[]>("sample-data/products.json");
    }

    public class Products
    {
        public int ProductId { get; set; }
        public string ProductName { get; set; }
        public int QuantityInStock { get; set; }
        public int BuyingPrice { get; set; }
    }
}
