@page "/viewproducts"
@using InventoryProject.Service.Product
@using InventoryProject.ViewModels

@inject HttpClient Http
@inject IProductService ProductService

<h3>Products</h3>

<p>This component demonstrates fetching data from the server.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity In Stock</th>
                <th>Buying Price (per item)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.QuantityInStock</td>
                    <td>@product.BuyingPrice</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<ProductViewModel> products = new();

    protected override async Task OnInitializedAsync()
    {
        //products = await Http.GetFromJsonAsync<Products[]>("sample-data/products.json");
        var result = ProductService.GetProductById(1);

        products.Add(
            new ProductViewModel 
            { 
                ProductName = result.ProductName, 
                QuantityInStock = result.QuantityInStock, 
                ProductId = result.ProductId,
                BuyingPrice = result.BuyingPrice
            });
    }
}
